body{
    margin: 4%;
    background-image: url("images/background.png");
    background-attachment: fixed;
}

a{
    text-decoration: none;
}
.h5{
   position: absolute;
   left: 80%;
   top: 15%;
}

.top{
    position: absolute;
    left: 40%;
    
}

p{
    text-align: left;
   }
h2{
    text-align: center;
   
}

.lg{
border-right: rgb(24, 23, 23) solid  ;
position: absolute;
left: 21%;
width: 50%;
height: 72%;
background-color: rgb(249, 244, 244);

}
div{
    
    position: absolute;
    left: 210px;
    width: 60%;
    height: 130%;
    background-color: rgb(194, 191, 191);

}
select{
    position: absolute;
    left: 80%;
}
label{
    position: absolute;
    left: 10%;
}
input{
    position:absolute;
    text-align: center;
    left: 10%;
    width: 80%;
    padding: 10px;
    
}
h6{
    position: absolute;
    left: 79%;
}
.bt{
   
    padding-inline: 41.5%;
    height: 40px;
    background-color: blue;
    color: white;
    cursor: pointer;

}
nav{
    padding: 1px;
    background-color: rgba(179, 179, 185, 0.897);
}
pre{
    text-align: center;
}
.rbt{
    position: absolute;
    left: 10%;
    right: 80%;
    padding-inline: 41.4%;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.btl{
    position: absolute;
    left: 10%;
}
h3{
    position: absolute;
    right: 10%;

}
.HM{
    background-color:rgb(166, 157, 177) ;
    margin: 10%;
}
.box{
    border: 1px black solid;
    background-color: rgb(31, 172, 31);
    padding: 2px;
    text-align: left;
    width: 150px;
    height: 170px;
    position: absolute;
    left: 10%;
}